files/*
label_studio/data/export/*
label_studio/data/media/*
*.sqlite3
label_studio/data/label_studio.sqlite3
label_studio/overrides
__pseudo_labeller
label_studio/third-party
label_studio/data/.env
*.sqlite3-shm
*.sqlite3-wal
